<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-equipo-118/blob/main/Equipo118_Tarea1_Modulo3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#**Actividad 1 : Semana 3**

Materia:
Ciencia y analítica de datos

Fecha: 04/10/2022

Integrantes:

Octavio Alberto García Morán - A01213977

Diana Valeria García Briones - A01793006



---

##**PARTE 1:**
 

***Fundamentos de bases de datos para la ciencia de datos.***

Se define como una base de datos a un programa o software que almacena información estructurada de una actividad, área o sector en específico con un fin determinado y a la cual se puede acceder de diferentes maneras. Su principal objetivo es almacenar, mantener y acceder a cualquier tipo de datos de forma eficiente, rápida y segura. 

Existen diferentes formas en las que una base de datos puede organizarse según el modelo, contenido o variabilidad; Sin embargo, las más populares son las relacionales, donde los datos se organizan de forma estructurada por esquemas representados por conjuntos de tablas con columnas y filas que se complementan entre sí.  

Usualmente, se utiliza el lenguaje de programación SQL como un marco de referencia en las bases de datos relacionales para almacenar, manipular y consultar la información, también funciona en el diseño de base de datos o para realizar análisis de la información almacenada. 

Las bases de datos pueden almacenarse en contenedores físicos o en la nube, siendo este último recientemente el más popular debido a que tiende a tener una mayor disponibilidad, solo se paga por el espacio que se utiliza, reduce los precios de mantenimiento de hardware y se tiene mejor control de administración. 




***Fundamentos de almacenes de datos (Data Warehouse) para ciencia de datos***

Un Data Warehouse funciona como un repositorio de información centralizado, donde se consolidan y relacionan las diferentes bases de datos provenientes de muchos orígenes. Dicho almacén se alimenta comúnmente de bases transaccionales por lo que la información almacenada no debería de modificarse o eliminarse. 

El principal reto de los Warehouse es lograr crear un esquema que permita relacionar las diferentes bases de datos para poder realizar consultas o interacciones de forma simultánea. La técnica más común para afrontar dicho reto es la normalización de datos la cual busca agrupar, organizar y estandarizar la información de las diferentes fuentes creando una homologación. 

Una vez que hemos logrado una estandarización, podemos establecer el almacén como la única fuente de información manteniendo la calidad, coherencia y precisión de los datos, así como comenzar a tomar decisiones informadas en base al análisis de datos históricos, separando el procesamiento de las actividades de análisis de las bases de datos, lo que mejora el rendimiento de ambos. 

Dentro de sus principales aplicaciones se encuentra el análisis de grandes volúmenes de datos buscando encontrar patrones, tendencias, relaciones y actividades de inteligencia empresarial, así como evitar la redundancia o discrepancias en el almacenamiento de los mismos datos por cada base de datos. Actualmente tener un Data Warehouse representa una ventaja competitiva en las empresas, pues les permite aprender de la información del pasado, monitorear el presente y poder realizar predicciones más exactas del futuro.

##**PARTE 2**
Primero se realiza la importación de la base de datos con Pandas.

In [ ]:
import pandas as pd
import numpy as np
url = 'https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv'
df1 = pd.read_csv(url)

**Muestreo de los primeros 10 registros de la base de datos**

In [ ]:
df1.head(10)

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
5,6,50000,1.0,1.0,2.0,37.0,0.0,0.0,0.0,0.0,...,19394.0,19619.0,20024.0,2500.0,1815.0,657.0,1000.0,1000.0,800.0,0.0
6,7,500000,1.0,1.0,2.0,29.0,0.0,0.0,0.0,0.0,...,542653.0,483003.0,473944.0,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0,0.0
7,8,100000,2.0,2.0,2.0,23.0,0.0,-1.0,-1.0,0.0,...,221.0,-159.0,567.0,380.0,601.0,0.0,581.0,1687.0,1542.0,0.0
8,9,140000,2.0,3.0,1.0,28.0,0.0,0.0,2.0,0.0,...,12211.0,11793.0,3719.0,3329.0,0.0,432.0,1000.0,1000.0,1000.0,0.0
9,10,20000,1.0,3.0,2.0,35.0,-2.0,-2.0,-2.0,-2.0,...,0.0,13007.0,13912.0,0.0,0.0,0.0,13007.0,1122.0,0.0,0.0

**Adicionalmente, se muestra la dimensión de la base de datos para identificar el número de columnas y filas.** *Se tienen 30,000 filas y 25 columnas*

In [ ]:
df1.shape

(30000, 25)

**Se exploran los tipos de variables existentes en la base de datos**

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      30000 non-null  int64
 1   X1      30000 non-null  int64
 2   X2      29999 non-null  float64
 3   X3      29998 non-null  float64
 4   X4      29998 non-null  float64
 5   X5      29995 non-null  float64
 6   X6      29997 non-null  float64
 7   X7      29995 non-null  float64
 8   X8      29993 non-null  float64
 9   X9      29991 non-null  float64
 10  X10     29984 non-null  float64
 11  X11     29986 non-null  float64
 12  X12     29989 non-null  float64
 13  X13     29989 non-null  float64
 14  X14     29987 non-null  float64
 15  X15     29985 non-null  float64
 16  X16     29983 non-null  float64
 17  X17     29990 non-null  float64
 18  X18     29992 non-null  float64
 19  X19     29991 non-null  float64
 20  X20     29992 non-null  float64
 21  X21     29989 non-null  float64
 22  X22     29989 non-null  float64
 23  X23     29995 non-null  float64
 24  Y       29997 non-null  float64
dtypes: float64(23), int64(2)
memory usage: 5.7 MB

**Revisamos la existencia de valores nulos en toda la base de datos:**

In [ ]:
df1.isnull().any()

ID     False
X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

**En la siguiente tabla se muestran la estadística descriptiva de todas las columnas**

In [ ]:
df1.describe()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,30000.000000,30000.000000,29999.000000,29998.000000,29998.000000,29995.000000,29997.000000,29995.000000,29993.000000,29991.000000,...,29985.000000,29983.000000,29990.000000,29992.000000,2.999100e+04,29992.000000,29989.000000,29989.000000,29995.000000,29997.000000
mean,15000.500000,167484.322667,1.603753,1.853057,1.551903,35.484214,-0.016635,-0.133689,-0.166405,-0.220800,...,43275.652326,40324.493980,38881.135745,5662.945886,5.922489e+03,5225.623400,4827.252526,4800.297209,5216.259977,0.221189
std,8660.398374,129747.661567,0.489125,0.790320,0.521968,9.218024,1.123829,1.197254,1.196048,1.169153,...,64345.500073,60809.984983,59561.312967,16564.165089,2.304418e+04,17608.422625,15668.751975,15280.842069,17778.848359,0.415054
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7500.750000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2329.000000,1763.500000,1256.250000,1000.000000,8.355000e+02,390.000000,296.000000,251.000000,118.000000,0.000000
50%,15000.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18107.000000,17081.000000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,22500.250000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54560.000000,50213.000000,49208.250000,5006.000000,5.000000e+03,4505.500000,4014.000000,4033.000000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

**Revisando las estadísticas descriptivas, podemos imputar la media en todos los valores Missing (la media no está muy separada de la mediana en muchos de los casos).**

In [ ]:
column_means = df1.mean()
df2 = df1.fillna(column_means)
df2.head(10)

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
5,6,50000,1.0,1.0,2.0,37.0,0.0,0.0,0.0,0.0,...,19394.0,19619.0,20024.0,2500.0,1815.0,657.0,1000.0,1000.0,800.0,0.0
6,7,500000,1.0,1.0,2.0,29.0,0.0,0.0,0.0,0.0,...,542653.0,483003.0,473944.0,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0,0.0
7,8,100000,2.0,2.0,2.0,23.0,0.0,-1.0,-1.0,0.0,...,221.0,-159.0,567.0,380.0,601.0,0.0,581.0,1687.0,1542.0,0.0
8,9,140000,2.0,3.0,1.0,28.0,0.0,0.0,2.0,0.0,...,12211.0,11793.0,3719.0,3329.0,0.0,432.0,1000.0,1000.0,1000.0,0.0
9,10,20000,1.0,3.0,2.0,35.0,-2.0,-2.0,-2.0,-2.0,...,0.0,13007.0,13912.0,0.0,0.0,0.0,13007.0,1122.0,0.0,0.0

**Revisamos que no existan valores nulos, de nuevo.**

In [ ]:
df2.isnull().any()

ID     False
X1     False
X2     False
X3     False
X4     False
X5     False
X6     False
X7     False
X8     False
X9     False
X10    False
X11    False
X12    False
X13    False
X14    False
X15    False
X16    False
X17    False
X18    False
X19    False
X20    False
X21    False
X22    False
X23    False
Y      False
dtype: bool

**Se revisaron los datos de x-12 en adelante y se identificaron valores negativos, se intentó limpiar la base de datos de estos valores negativos, pero todavía es necesario realizar una revisión más extensa del código para no perder muchos valores.**

In [ ]:
df3= df2[df2.select_dtypes(include=[np.number]).ge(0).all(1)]

df3.describe()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,16037.000000,16037.000000,16037.000000,16037.000000,16037.000000,16037.000000,16037.000000,16037.000000,16037.000000,16037.000000,...,16037.000000,16037.000000,16037.000000,16037.000000,16037.000000,16037.000000,16037.000000,16037.000000,16037.000000,16037.000000
mean,15047.135686,138790.277483,1.583900,1.947559,1.568685,35.143416,0.478456,0.479267,0.454324,0.414167,...,69306.226181,64717.747706,62225.594962,4899.467845,4674.801551,4050.293127,3810.584695,3924.260410,4502.746090,0.258506
std,8568.717477,120178.555416,0.492926,0.761005,0.522002,9.496962,0.910562,0.951635,0.946294,0.944490,...,72250.293809,68328.937781,66998.655690,10410.957606,10740.123113,9022.218343,9358.186352,10437.675724,14537.575831,0.437790
min,3.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7652.000000,50000.000000,1.000000,1.000000,1.000000,27.000000,0.000000,0.000000,0.000000,0.000000,...,20304.000000,19483.000000,18872.000000,1600.000000,1500.000000,1136.000000,1000.000000,1000.000000,846.000000,0.000000
50%,15301.000000,100000.000000,2.000000,2.000000,2.000000,33.000000,0.000000,0.000000,0.000000,0.000000,...,44792.000000,39970.000000,37862.000000,2900.000000,2578.000000,2020.000000,2000.000000,2000.000000,2000.000000,0.000000
75%,22214.000000,200000.000000,2.000000,2.000000,2.000000,41.000000,1.000000,0.000000,0.000000,0.000000,...,91549.000000,85892.000000,82785.000000,5148.000000,5000.000000,4622.000000,4200.000000,4200.000000,4100.000000,1.000000
max,30000.000000,780000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,706864.000000,823540.000000,699944.000000,300000.000000,340000.000000,324097.000000,432130.000000,388071.000000,443001.000000,1.000000

**Se sustituye el nombre de las variables importantes de identificar.**

In [ ]:
pd.options.mode.chained_assignment = None

In [ ]:
df3.rename(columns = { 'X1' : 'Amount ' ,'X2' : 'Gender ', 'X3' :'Education ','X4' : 'Marital status', 'X5' : 'Age'}, inplace = True)
df3

,ID,Amount,Gender,Education,Marital status,Age,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,6,50000,1.0,1.0,2.0,37.0,0.0,0.0,0.0,0.0,...,19394.0,19619.0,20024.0,2500.0,1815.0,657.0,1000.0,1000.0,800.0,0.0
6,7,500000,1.0,1.0,2.0,29.0,0.0,0.0,0.0,0.0,...,542653.0,483003.0,473944.0,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0,0.0
8,9,140000,2.0,3.0,1.0,28.0,0.0,0.0,2.0,0.0,...,12211.0,11793.0,3719.0,3329.0,0.0,432.0,1000.0,1000.0,1000.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29990,29991,140000,1.0,2.0,1.0,41.0,0.0,0.0,0.0,0.0,...,138262.0,49675.0,46121.0,6000.0,7000.0,4228.0,1505.0,2000.0,2000.0,0.0
29991,29992,210000,1.0,2.0,1.0,34.0,3.0,2.0,2.0,2.0,...,2500.0,2500.0,2500.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
29994,29995,80000,1.0,2.0,2.0,34.0,2.0,2.0,2.0,2.0,...,77519.0,82607.0,81158.0,7000.0,3500.0,0.0,7000.0,0.0,4000.0,1.0
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

**Ejercicio de eliminación de columnas con Nulos**

In [42]:
df3.dropna(inplace = True)
df3

,ID,Amount,Gender,Education,Marital status,Age,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,6,50000,1.0,1.0,2.0,37.0,0.0,0.0,0.0,0.0,...,19394.0,19619.0,20024.0,2500.0,1815.0,657.0,1000.0,1000.0,800.0,0.0
6,7,500000,1.0,1.0,2.0,29.0,0.0,0.0,0.0,0.0,...,542653.0,483003.0,473944.0,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0,0.0
8,9,140000,2.0,3.0,1.0,28.0,0.0,0.0,2.0,0.0,...,12211.0,11793.0,3719.0,3329.0,0.0,432.0,1000.0,1000.0,1000.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29990,29991,140000,1.0,2.0,1.0,41.0,0.0,0.0,0.0,0.0,...,138262.0,49675.0,46121.0,6000.0,7000.0,4228.0,1505.0,2000.0,2000.0,0.0
29991,29992,210000,1.0,2.0,1.0,34.0,3.0,2.0,2.0,2.0,...,2500.0,2500.0,2500.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
29994,29995,80000,1.0,2.0,2.0,34.0,2.0,2.0,2.0,2.0,...,77519.0,82607.0,81158.0,7000.0,3500.0,0.0,7000.0,0.0,4000.0,1.0
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

**Revisión del conjunto de datos despues de quitar datos nulos**

In [44]:
df3.shape

(16037, 25)

**Como se observa en caso de haber utilizado el método de eliminar los registros con valores nulos, hubiéramos perdido casi el 50% de los datos totales, es por esto que se decidió suplantar los valores perdidos con la media**

##**PARTE 3**

***1	¿Qué datos considero más importantes? ¿Por qué?***

En este sentido, mucho depende del enfoque que se le quiera dar al estudio que se realizará, por ejemplo, si se quiere utilizar el modelo para saber quienes son las personas que tienen una probabilidad alta de default en los pagos, será necesario poner atención especial en las características sociodemográficas que tienen las personas que se encuentran en la base de datos como lo es el género (X2), su nivel educativo (X3), su estado marital (X4) y la edad que tienen (X5). 

Empíricamente, las variables sociodemográficas son una parte vital de todos los modelos que buscan predecir o explicar algún comportamiento futuro o existente. Es por eso que se considera muy importante contar con todos estos datos.

Adicionalmente, se considera muy importante tener los meses y el seguimiento de cuanto se tardan las personas en pagar, esto puede ayudar a reforzar el modelo con base en situaciones reales y las características sociodemográficas que se tienen (X6-X12)
Otro dato importante que se puede explotar es el monto que se les prestó, ya que puede influir en sí deciden pagar o no.


***2	¿Se eliminaron o reemplazaron datos nulos? ¿Qué se hizo y por qué?***

Se optó por no eliminar datos para no perder información que puede ser valiosa en todas las demás variables, se identificó que de las 25 columnas, 23 contaban con datos nulos, y al revisar la estadística descriptiva de todas las columnas, se pudo observar que la mediana y la media no se encuentran muy lejos, por lo que se decidió realizar un reemplazo con la media de cada columna.
Utilizar el reemplazo con la media, permite conservar datos de todas las columnas y no se generan valores extremos que puedan meter más distorsión en la base de datos.


***3	¿Es necesario limpiar los datos para el análisis? Sí / No / ¿Por qué?***

Sí, de primer momento parece ser que es solo necesario hacer los reemplazos de los valores faltantes, sin embargo, revisando algunas de las columnas de la base de datos se tienen valores que no se describen en la documentación de la base de datos, como lo es la variable de educación (X3), menciona que las categorías van del número 1 al 3 y se puede identificar que existen valores en 0 y el valor máximo es el 6, lo anterior plantea un reto importante, ya que, puede ser que el diccionario no este completo o que los datos tengan un error de captura.
Lo anterior, hace necesario, no pensar solo en reemplazos sino en saber que hacer con estos datos, hacer un reemplazo en variables categóricas podría generar un sesgo importante.


***4	¿Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / Por qué.***

Al momento, no se identificó algún problema de formato en las variables, todas las que deben integrales lo son y las que debe ser flotantes lo son, se comprobó con el código desde el principio para ver si era necesario realizar algún ajuste.


***5	¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?***

En el proceso de limpieza, se realizó primero la revisión de los valores faltantes, la revisión del tipo de variables que tenía cada columna y, después se realizó la imputación de la media en todas las columnas que tenían un valor faltante. 
Al final, se intentó realizar una limpieza de todas aquellas variables que tenían valores negativos y no deberían tenerlos, este trabajo sigue en perfeccionamiento para no perder muchas observaciones y después poder modelar.