<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-equipo-118/blob/main/Modulo04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**TRABAJANDO CON DATA EN PYTHON**

**Open**: Es una funcion utilizada para abrir archivos

**Name**: Se utiliza para saber el nombre del archivo

**Mode**: Se utiliza para saber el modo utilizado. w=write , r=read

**Closed**: Funcion para cerrar el archivo despues de utilizarlo

**--LABORATORIO 1: LEER ARCHIVOS--**

In [ ]:
!pip install piplite

In [ ]:
!pip install pyodide.http

In [ ]:
#Ejemplo 1: Lectura de Archivos
import pandas as pd
Archivo = pd.read_csv('Example1.txt') #Se utiliza la funcion read para leer el archivo txt

example1 = "Example1.txt" #Se asigna el valor de el archivo en una variable
file1 = open(example1, "r") #abre el archivo en modo lectura

In [ ]:
#Se imprimir el name del archivo y modo que se esta utilizando
print(file1.name)
print(file1.mode)

Example1.txt
r

In [ ]:
#read
FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

**\n**: Significa cambio de linea.

In [ ]:
#Imprrersion del contenido, al imprimir automaticamente toma el \n como brinco de linea
print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
#Impresion del tipo de contenido
print(type(FileContent))
#Se cierra el archivo
file1.close()

<class 'str'>

**WITH**

Usar la declaración with es una mejor práctica, cierra automáticamente el archivo incluso si el código encuentra una excepción. El código ejecutará todo en el bloque y luego cerrará el objeto de archivo.

In [ ]:
#Ejemplo 2: Lectura de Archivos
with open(example1, "r") as file1: #Los archivos tambien se pueden abrir usando with
    FileContent = file1.read()
    print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
#La sentencia closed sirve para validar que el archivo se cerro correctamente
print(file1.closed)

#Como el contenido se almaceno en una variable podemos consultar su contenido imrpimiendo la variable
print(FileContent)

True
This is line 1
This is line 2
This is line 3

In [ ]:
#No se necesitan leer necesariamente todas las lineas del file
with open(example1, "r") as file1:
    print(file1.read(4)) #Al poner un digito solo se leen hasta dicho caracteres

This

Una vez que se llama al método .read(n), se llaman los primeros n caracteres. Si volvemos a llamar al método, se llamarán los siguientes n caracteres. El resultado de la siguiente celda demostrará el proceso para diferentes entradas al método read():

In [ ]:
#Impresion de lineas especificas
with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

In [ ]:
#Ejercicio 2 de lineas especificas
with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

This is line 1

This
is line 2

In [ ]:
#Tambien se pueden leer lineas especificas del documento
with open(example1, "r") as file1:
    print("first line: " + file1.readline()) #Se utiliza readlinea para leer una linea en especifico

first line: This is line 1

También podemos pasar un argumento a readline() para especificar el número de caracteres que queremos leer. Sin embargo, a diferencia de read(), readline() solo puede leer una línea como máximo.

In [ ]:
with open(example1, "r") as file1:
    print(file1.readline(20)) # Soloi lee les caracteres dentro de la linea 1
    print(file1.read(20)) # Regresa los siguientes 20 caracteres

This is line 1

This is line 2
This

In [ ]:
#Podemos realizar iteraciones con with para imprimir linea por linea
with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteracion", str(i), ": ", line) 
            i = i + 1

Iteracion 0 :  This is line 1

Iteracion 1 :  This is line 2

Iteracion 2 :  This is line 3

In [ ]:
#Ejercicio para leer todas las lineas y guardar en una lista
with open(example1, "r") as file1:
    FileasList = file1.readlines()

print(FileasList)

['This is line 1 \n', 'This is line 2\n', 'This is line 3']

In [ ]:
 #Imprimir la primera linea de la lista
print(FileasList[0])
#Imprimir la segunda linea de la lista
print(FileasList[1])

This is line 1

This is line 2

**--LABORATORIO 2:Escribir en los archivos--**

Podemos abrir un objeto de archivo usando el método write() para guardar el archivo de texto en una lista. Para escribir en un archivo, el argumento de modo debe establecerse en w.

In [ ]:
# Ejercicio: Añadir una linea de texto al archivo
exmp2 = 'Example2.txt' #Se le asigna a una variable la informacion del archivo
with open(exmp2, 'w') as writefile: #w significa que sera escritura y open se utiliza para abrir el archivo
    writefile.write("This is line A") #Se escribe una linea en el archivo

In [ ]:
#Leectura del archivo 
with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read()) #Se utiliza read para leer lo que hay dentro del archivo

This is line A

In [ ]:
#Añadir multiples lineas al archivo
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A\n") #Escritura en el archivo utilizando el metodo write
    writefile.write("This is line B\n")

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read()) #Impresion de las filas utilizando el modo lectura

This is line A
This is line B

El método **.write()** funciona de manera similar al método **.readline()**, excepto que en lugar de leer una nueva línea, escribe una nueva línea. Una nueva línea es agregada al archivo después de cada llamada al método.

In [ ]:
#Ejercicio 2: Escribir los datos de una lista en un archivo
Lines = ["This is line A\n", "This is line B\n", "This is line C\n"] #Lista de datos

with open('Example2.txt', 'w') as writefile: #escritura de los archivos en la lista en el archivo
    for line in Lines:
        print(line)
        writefile.write(line) #escribe la linea que se encuentra en esa interacion en el archivo

This is line A

This is line B

This is line C

In [ ]:
#Impresion del archivo donde se escribieron las lineas
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

**NOTA: El modo en w sobrescribe todos los datos existentes en el archivo.**

In [ ]:
#Ejemplo de sobre escritura en los archivos
with open('Example2.txt', 'w') as writefile:
    writefile.write("Overwrite\n")
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite

Para escribir en archivos sin perder ninguno de los datos existentes se utiliza el argumento de modo para **append: a**

In [ ]:
#Agregar lineas al archivo
with open('Example2.txt', 'a') as testwritefile: #Se utiliza el argumento a
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")
    testwritefile.write("This is line E\n")

In [ ]:
#Impresion de las lineas del archivo 
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite
This is line C
This is line D
This is line E

**MODOS ADICIONALES**

**r+** : Lectura y escritura. No se puede truncar el archivo.

**w+** : Escritura y lectura. Trunca el archivo.

**a+** : Adición y lectura. Crea un nuevo archivo, si no existe ninguno.

In [ ]:
#Ejercicio para abrir un archivo usando el modo append
with open('Example2.txt', 'a+') as testwritefile:
    testwritefile.write("This is line E\n") #Escribe utilizando wite
    print(testwritefile.read()) #Impresion del metodo a+

**No imprime nada ya que no se puso una ubicacion especifica dentro del parentesis de read**

Suele ser muy útil saber dónde está el 'cursor' en un archivo y poder controlarlo. Los siguientes métodos nos permiten hacer precisamente esto:

**.tell()**: Devuelve la posición actual en bytes

**.seek(offset,from)**: Cambia la posición por bytes 'offset' con respecto a 'from'. From puede tomar el valor de 0,1,2 correspondiente al inicio, relativo a la posición actual y final

In [ ]:
#Ejercicio de los modos especiales
with open('Example2.txt', 'a+') as testwritefile:
    print("Initial Location: {}".format(testwritefile.tell())) #Impresion del archivo en su locacion inicial
    
    data = testwritefile.read()
    if (not data):  #Si no se informacion en el archivo retorna un false en python
            print('Read nothing') 
    else: 
            print(testwritefile.read()) #Si el archivo contiene informacion se muestra
            
    testwritefile.seek(0,0) # Prueba de seek: mover 0 bytes al principio.
    
    print("\nNew Location : {}".format(testwritefile.tell())) #Mueve el archivo a una locacion nueva
    data = testwritefile.read() #Lectura del archivo
    if (not data): 
            print('Read nothing') 
    else: 
            print(data) #Si el archivo contiene datos los imprime
    
    print("Location after read: {}".format(testwritefile.tell()) ) #Se imprime la locacion despues de la lectura

Initial Location: 70
Read nothing

New Location : 0
Overwrite
This is line C
This is line D
This is line E
This is line E

Location after read: 70

**w+ y r+**: Ambos modos permiten el acceso a los métodos de lectura y escritura; sin embargo, abrir un archivo en **w+** lo sobrescribe y elimina todos los datos preexistentes.
Para trabajar con un archivo con datos existentes, utilice **r+** y **a+**. Mientras usa **r+**, puede ser útil agregar un método **.truncate()** al final de sus datos. Esto reducirá el archivo a sus datos y eliminará todo lo que sigue.

In [ ]:
#Ejericio de Modos Adicionales
with open('Example2.txt', 'r+') as testwritefile: #Se abre al archivo y se almacena en la variable testwritefile
    data = testwritefile.readlines()  #El módulo readline define una serie de funciones para facilitar la finalización y lectura/escritura de archivos
    testwritefile.seek(0,0) #Escribe lineas al inicio del archivo
   
    testwritefile.write("Line 1" + "\n") #Escribelas lineas en el archivo
    testwritefile.write("Line 2" + "\n")
    testwritefile.write("Line 3" + "\n")
    testwritefile.write("finished\n")
    #Uncomment the line below
    #testwritefile.truncate() #Sirve para eliminar los registros, si se utiliza dos veces se elimina el archivo
    testwritefile.seek(0,0)
    print(testwritefile.read()) #Impresion del contenido

Line 1
Line 2
Line 3
finished
is line D
This is line E
This is line E

**--COPIA DE ARCHIVOS--**

In [ ]:
#Copia de un archivo a otro
with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

Se copia el archivo del file 2 a 3 utilizando la funcion write

In [ ]:
#Validar que los archivos se hayan pasado al nuevo archivo "File 3"
with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read()) #Impresion de contenido en el nuevo archivo 3

Line 1
Line 2
Line 3
finished
is line D
This is line E
This is line E

**--EJERCICIO DE ARCHIVOS--**

In [ ]:
#Improtacion de librerias
from random import randint as rnd

memReg = 'members.txt' #Declaracion de variables, "archivos"
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old): #Generacion de archivos
    with open(current,'w+') as writefile: 
        writefile.write('No. de Membresía Fecha de Ingreso Activo  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('No. de Membresía Fecha de Ingreso Activo  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25)) #RND es usado para generar numeros random
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg) #Generacion de los archivos

In [ ]:
#Declaracion de la funcion
def cleanFiles(currentMem,exMem):
    with open(currentMem,'r+') as writeFile:  #En esta parte se abren los archivos utilizando la funcion open con el metodo de escribir
        with open(exMem,'a+') as appendFile: #Se utiliza el modo de append
            #Toma la fecha
            writeFile.seek(0)
            members = writeFile.readlines()
            #Quita los encabezados
            header = members[0]
            members.pop(0)
                
            inactive = [member for member in members if ('no' in member)] #funcion que determina la inactividad de un miembro
            '''
            The above is the same as 

            for member in members:
            if 'no' in member:
                inactive.append(member)
            '''
            #Esta parte escribe al inicio del archivo la inactividad 
            writeFile.seek(0) 
            writeFile.write(header)
            for member in members:
                if (member in inactive):
                    appendFile.write(member)
                else:
                    writeFile.write(member)      
            writeFile.truncate()
                
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)

# Codigo para ver los archivos

headers = "No. de Membresía Fecha de Ingreso Activo  \n"

with open(memReg,'r') as readFile:
    print("Miembros Activos: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Miembros Inactivos: \n\n")
    print(readFile.read())

Miembros Activos:


No. de Membresía Fecha de Ingreso Activo
    48464      2019-12-10   yes
    11474      2020-5-10    yes
    57750      2018-10-17   yes
    92332      2016-8-5     yes
    31055      2019-9-15    yes
    25920      2019-11-5    yes
    12590      2015-1-24    yes
    37663      2018-12-5    yes

Miembros Inactivos:


No. de Membresía Fecha de Ingreso Activo
    58744      2019-3-8     no
    54135      2020-10-17   no
    58929      2020-9-6     no
    22955      2019-5-17    no
    81554      2015-8-10    no
    64663      2016-6-14    no
    89829      2019-8-8     no
    49820      2017-10-19   no
    61075      2017-10-8    no
    29882      2019-11-6    no
    77475      2015-11-24   no
    31484      2019-2-7     no
    65008      2018-10-23   no
    87678      2016-1-3     no
    59709      2016-9-14    no

**PRUEBA DEL EJERCICIO**

In [ ]:
#Codigo proporcionado en el laboratorio para determinar si el codigo funciona correctamente
def testMsg(passed):
    if passed:
       return 'Test Passed'
    else :
       return 'Test Failed'

testWrite = "testWrite.txt"
testAppend = "testAppend.txt" 
passed = True

genFiles(testWrite,testAppend)

with open(testWrite,'r') as file:
    ogWrite = file.readlines()

with open(testAppend,'r') as file:
    ogAppend = file.readlines()

try:
    cleanFiles(testWrite,testAppend)
except:
    print('Error')

with open(testWrite,'r') as file:
    clWrite = file.readlines()

with open(testAppend,'r') as file:
    clAppend = file.readlines()
        
# checking if total no of rows is same, including headers

if (len(ogWrite) + len(ogAppend) != len(clWrite) + len(clAppend)):
    print("The number of rows do not add up. Make sure your final files have the same header and format.")
    passed = False
    
for line in clWrite:
    if  'no' in line:
        passed = False
        print("Inactive members in file")
        break
    else:
        if line not in ogWrite:
            print("Data in file does not match original file")
            passed = False
print ("{}".format(testMsg(passed)))

Test Passed

**CARGA DE DATOS UTILIZANDO PANDAS**

1. Las dependencias o bibliotecas son código escrito previamente para ayudar a resolver problemas.

2. Un dataframe de datos se compone de filas y columnas. Podemos crear un frame de datos a partir de un diccionario.

In [ ]:
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

**En las funciones ix y loc primero Archivo[Registo,Columa]**

**--LABORATORIO DE PANDAS--**

In [ ]:
#Importacion de libreria
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]}) #Declaracion de un dataframe

df.head(3) #Hear de utiliza para desplegar registos, en este caso los primeros 3

    a   b
0  11  21
1  21  22
2  31  23

In [ ]:
#Impresion de los valores en la columna 'a'
df['a']

0    11
1    21
2    31
Name: a, dtype: int64

**MANIPULACION Y GUARDAR INFORMACION CON PANDAS**

**Unique()**: Regresa los valores unicos.

In [ ]:
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

**--LABORATORIO DE MANUPULACION Y ALMACENAMIENTO--**

In [ ]:
#Importar libreria y declarar frame
import pandas as pd
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

In [ ]:
#Ejemplo de la funcion Unique
df['a'].unique()

array([1, 2])

In [ ]:
#Ejercicio donde solo las filas donde la columna a es menor a dos
df[df['a']<2]

   a  b
0  1  1
2  1  1

**--LABORATORIO 2: Manipulacion & Almacenamiento--**

In [ ]:
#Exportacion de librerias
import pandas as pd

In [ ]:
# Lectura de la informacion desde un CSV
csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv'
df = pd.read_csv(csv_path)

**HEAD**: determina la cantidad de registros que debenser impresos

In [ ]:
#Impresion utilizando el metodo Head
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

**read_type** tambien es utilizada para imprimir registos del archivo

In [ ]:
#Ejercicio para accessar a la columna Length
x = df[['Length']]
x

    Length
0  0:42:19
1  0:42:11
2  0:42:49
3  0:57:44
4  0:46:33
5  0:43:08
6  1:15:54
7  0:40:01

In [ ]:
#Transformacion de la data a un dataframe
x = df[['Artist']]
type(x)

pandas.core.frame.DataFrame

In [ ]:
#Se puede acceder de forma simultanea a x columnas
y = df[['Artist','Length','Genre']]
y

            Artist   Length                        Genre
0  Michael Jackson  0:42:19               pop, rock, R&B
1            AC/DC  0:42:11                    hard rock
2       Pink Floyd  0:42:49             progressive rock
3  Whitney Houston  0:57:44               R&B, soul, pop
4        Meat Loaf  0:46:33  hard rock, progressive rock
5           Eagles  0:43:08   rock, soft rock, folk rock
6         Bee Gees  1:15:54                        disco
7    Fleetwood Mac  0:40:01                    soft rock

**ILOC**: Forma de acceder a elementos únicos, donde puede acceder a la primera fila y la primera columna

In [ ]:
#Ejemplo de la funcion iloc
df.iloc[0, 0]

'Michael Jackson'

In [ ]:
#Ejercicio para acceder al 2do registo de la 1er columna
print(df.iloc[1,0])

#Ejercicio para acceder al 1er registo de la 3er columna
print(df.iloc[0,2])

#Ejercicio para acceder al 2do registo de la 3er columna
print(df.iloc[1,2])

AC/DC
1982
1980

In [ ]:
#Ejercicios para acceder a un registro utilizando la columna y rango
print(df.loc[1, 'Artist'])
print(df.loc[0, 'Released'])
print(df.loc[1, 'Released'])

AC/DC
1982
1980

In [ ]:
#Ejercicios para filtrar informacion utilizando el nombre del dataframe
df.loc[0:2, 'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

**--QUIZ DE DATAFRAMES--**

In [ ]:
#QUIZ: Utilizar q para almacenar la columna Rating como un dataframe
q = df[['Rating']]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

In [ ]:
#QUIZ: Asignar a la variable q a un dataframe de las columnas Released y Artist
q = df[['Released', 'Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

In [ ]:
#QUIZ: Acceder al 2do registro de la 3er columna
df.iloc[1, 2]

1980

**-- RESULTADO DE EXAMEN: Modulo 04 --**

![Modulo04.png]()